link  https://www.kaggle.com/datasets/devildyno/computer-science-students-career-prediction

In [10]:
import pandas as pd
data = pd.read_csv(r"C:\Users\DELL\Downloads\cs_students.csv")

In [12]:
data

,Student ID,Name,Gender,Age,GPA,Major,Interested Domain,Projects,Future Career,Python,SQL,Java
0,1,John Smith,Male,21,3.5,Computer Science,Artificial Intelligence,Chatbot Development,Machine Learning Researcher,Strong,Strong,Weak
1,2,Alice Johnson,Female,20,3.2,Computer Science,Data Science,Data Analytics,Data Scientist,Average,Strong,Weak
2,3,Robert Davis,Male,22,3.8,Computer Science,Software Development,E-commerce Website,Software Engineer,Strong,Strong,Average
3,4,Emily Wilson,Female,21,3.7,Computer Science,Web Development,Full-Stack Web App,Web Developer,Weak,Strong,Strong
4,5,Michael Brown,Male,23,3.4,Computer Science,Cybersecurity,Network Security,Information Security Analyst,Average,Weak,Strong
...,...,...,...,...,...,...,...,...,...,...,...,...
175,176,Elijah Davis,Male,22,3.7,Computer Science,Web Development,Full-Stack Web App,Web Developer,Weak,Strong,Strong
176,177,Emma Johnson,Female,20,3.6,Computer Science,Cybersecurity,Security Auditing,Information Security Analyst,Strong,Average,Weak
177,178,Liam Wilson,Male,21,3.4,Computer Science,Machine Learning,Natural Language Processing,Machine Learning Engineer,Strong,Average,Weak
178,179,Sophia Johnson,Female,22,3.5,Computer Science,Database Management,SQL Database Administration,Database Administrator,Weak,Strong,Average
179,180,Michael Brown,Male,23,3.7,Computer Science,Cloud Computing,Cloud Solution Architecture,Cloud Solutions Architect,Strong,Strong,Weak

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\GOLLA RAVI TEJA\Downloads\archive (6)\cs_students.csv")

In [12]:
df.columns

Index(['Student ID', 'Name', 'Gender', 'Age', 'GPA', 'Major',
       'Interested Domain', 'Projects', 'Future Career', 'Python', 'SQL',
       'Java'],
      dtype='object')

1. What is the average GPA of students who are interested in Data Science?
2. What is the percentage distribution of students by gender?
3. How many students have "Strong" Python skills and are interested in Software Development?
4. What is the distribution of students' future careers across different majors?
5. What is the average age of students with "Strong" SQL skills?
6. Who are the students with a GPA above 3.8 and "Strong" Java skills?
7. How many students are interested in Cybersecurity and have worked on Network Security projects?
8. What is the correlation between age and GPA among students?
9. How many students have "Weak" skills in both Python and Java?
10. What are the top 3 most common projects worked on by students?
11. What is the average GPA of students interested in Artificial Intelligence?
12. What is the percentage of students aiming to become Software Engineers?
13. What is the distribution of Python skills across different future careers?
14. How many students have "Strong" skills in all three programming languages (Python, SQL, Java)?
15. What is the most popular interested domain for students with a GPA below 3.0?
16. Who are the students with "Weak" SQL skills and want to pursue a career in Data Science?
17. What is the gender distribution of students with a GPA above 3.5?
18. How many students aged 21 and above are interested in Web Development?
19. Which future career is most common among female students?
20. What is the average GPA of students aiming to work in Machine Learning?

### 1. What is the average GPA of students who are interested in Data Science?

In [7]:
df['Interested Domain'].unique()

array(['Artificial Intelligence', 'Data Science', 'Software Development',
       'Web Development', 'Cybersecurity', 'Machine Learning',
       'Database Management', 'Cloud Computing', 'Mobile App Development',
       'Computer Graphics', 'Software Engineering', 'Network Security',
       'Game Development', 'Computer Vision', 'Bioinformatics',
       'IoT (Internet of Things)', 'Natural Language Processing',
       'Data Mining', 'Human-Computer Interaction',
       'Biomedical Computing', 'Quantum Computing',
       'Blockchain Technology', 'Information Retrieval', 'Data Privacy',
       'Geographic Information Systems', 'Distributed Systems',
       'Digital Forensics'], dtype=object)

In [9]:
ds_int = df[df['Interested Domain']=='Data Science']

In [11]:
ds_int['GPA'].mean()

3.4615384615384617

In [14]:
# (or)
df[df['Interested Domain']=='Data Science']['GPA'].mean()

3.4615384615384617

### 2. What is the percentage distribution of students by gender?

In [17]:
df['Gender'].value_counts(normalize=True)*100

Gender
Male      56.666667
Female    43.333333
Name: proportion, dtype: float64

### 3. How many students have "Strong" Python skills and are interested in Software Development?

In [24]:
df['Python']

0       Strong
1      Average
2       Strong
3         Weak
4      Average
        ...
175       Weak
176     Strong
177     Strong
178       Weak
179     Strong
Name: Python, Length: 180, dtype: object

In [25]:
df["Interested Domain"]

0      Artificial Intelligence
1                 Data Science
2         Software Development
3              Web Development
4                Cybersecurity
                ...
175            Web Development
176              Cybersecurity
177           Machine Learning
178        Database Management
179            Cloud Computing
Name: Interested Domain, Length: 180, dtype: object

In [27]:
df[(df['Python']=='Strong') & (df['Interested Domain']=='Software Development')]

,Student ID,Name,Gender,Age,GPA,Major,Interested Domain,Projects,Future Career,Python,SQL,Java
2,3,Robert Davis,Male,22,3.8,Computer Science,Software Development,E-commerce Website,Software Engineer,Strong,Strong,Average
117,118,Olivia Davis,Female,21,3.9,Computer Science,Software Development,Mobile App Development,Software Engineer,Strong,Strong,Average
134,135,Isabella Brown,Female,20,3.6,Computer Science,Software Development,Web Application Development,Software Engineer,Strong,Weak,Strong
147,148,Emma Wilson,Female,20,3.8,Computer Science,Software Development,Mobile App Development,Software Engineer,Strong,Strong,Average
167,168,Emma Wilson,Female,20,3.8,Computer Science,Software Development,Mobile App Development,Software Engineer,Strong,Strong,Average

### 4. What is the distribution of students' future careers across different majors?

In [28]:
df['Future Career']

0       Machine Learning Researcher
1                    Data Scientist
2                 Software Engineer
3                     Web Developer
4      Information Security Analyst
                   ...
175                   Web Developer
176    Information Security Analyst
177       Machine Learning Engineer
178          Database Administrator
179       Cloud Solutions Architect
Name: Future Career, Length: 180, dtype: object

In [33]:
df.groupby(['Major','Future Career']).size().reset_index(name='Count')

               Major                 Future Career  Count
0   Computer Science                 AI Researcher      6
1   Computer Science              Bioinformatician      2
2   Computer Science           Blockchain Engineer      1
3   Computer Science     Cloud Solutions Architect     16
4   Computer Science      Computer Vision Engineer      1
5   Computer Science                  Data Analyst      6
6   Computer Science       Data Privacy Specialist      1
7   Computer Science                Data Scientist      8
8   Computer Science        Database Administrator     16
9   Computer Science               DevOps Engineer      1
10  Computer Science  Digital Forensics Specialist      1
11  Computer Science  Distributed Systems Engineer      1
12  Computer Science    Embedded Software Engineer      1
13  Computer Science                Ethical Hacker      1
14  Computer Science                Game Developer      4
15  Computer Science            Geospatial Analyst      1
16  Computer Science           Graphics Programmer      9
17  Computer Science      Healthcare IT Specialist      2
18  Computer Science  Information Security Analyst     17
19  Computer Science                 IoT Developer      1
20  Computer Science     Machine Learning Engineer     13
21  Computer Science   Machine Learning Researcher      1
22  Computer Science          Mobile App Developer     17
23  Computer Science                  NLP Engineer      1
24  Computer Science        NLP Research Scientist     11
25  Computer Science  Quantum Computing Researcher      2
26  Computer Science             Robotics Engineer      1
27  Computer Science                SEO Specialist      1
28  Computer Science              Security Analyst      1
29  Computer Science             Software Engineer     14
30  Computer Science                   UX Designer      2
31  Computer Science                  VR Developer      1
32  Computer Science                 Web Developer     19

### 5. What is the average age of students with "Strong" SQL skills?

In [34]:
df['SQL']

0       Strong
1       Strong
2       Strong
3       Strong
4         Weak
        ...
175     Strong
176    Average
177    Average
178     Strong
179     Strong
Name: SQL, Length: 180, dtype: object

In [37]:
df[df['SQL']=='Strong']['Age'].mean()

22.253164556962027

### 6.Who are the students with a GPA above 3.8 and "Strong" Java skills?

In [42]:
df[(df['GPA']>=3.8) & (df['Java']=='Strong')]

,Student ID,Name,Gender,Age,GPA,Major,Interested Domain,Projects,Future Career,Python,SQL,Java
43,44,Gwen Stacy,Female,22,3.8,Computer Science,Computer Graphics,3D Animation,Graphics Programmer,Weak,Average,Strong
52,53,Silver Sable,Female,22,3.8,Computer Science,Computer Graphics,3D Modeling,Graphics Programmer,Weak,Average,Strong
81,82,Agent Fitz,Male,35,3.9,Computer Science,Software Development,Social Media Platform,Software Engineer,Average,Weak,Strong
82,83,Agent Mack,Male,37,3.8,Computer Science,Computer Graphics,3D Animation,Graphics Programmer,Weak,Average,Strong
107,108,Susan Davis,Female,22,3.8,Computer Science,Data Privacy,Privacy Compliance Officer,Data Privacy Specialist,Weak,Average,Strong
109,110,Laura Lee,Female,21,3.9,Computer Science,Distributed Systems,Distributed Systems Architect,Distributed Systems Engineer,Weak,Average,Strong
114,115,Andrew Hall,Male,23,3.8,Computer Science,Quantum Computing,Quantum Algorithm Development,Quantum Computing Researcher,Weak,Average,Strong

### 7. How many students are interested in Cybersecurity and have worked on Network Security projects?

In [44]:
df[(df['Interested Domain']=='Cybersecurity') & (df['Projects']=='Network Security')]

,Student ID,Name,Gender,Age,GPA,Major,Interested Domain,Projects,Future Career,Python,SQL,Java
4,5,Michael Brown,Male,23,3.4,Computer Science,Cybersecurity,Network Security,Information Security Analyst,Average,Weak,Strong
15,16,John Brown,Male,20,3.6,Computer Science,Cybersecurity,Network Security,Information Security Analyst,Average,Weak,Strong
26,27,John Brown,Male,20,3.6,Computer Science,Cybersecurity,Network Security,Information Security Analyst,Average,Weak,Strong
37,38,John Brown,Male,20,3.6,Computer Science,Cybersecurity,Network Security,Information Security Analyst,Average,Weak,Strong
46,47,Flash Thompson,Male,22,3.7,Computer Science,Cybersecurity,Network Security,Information Security Analyst,Weak,Strong,Average
55,56,Carnage,Male,22,3.7,Computer Science,Cybersecurity,Network Security,Information Security Analyst,Weak,Strong,Average
64,65,Kraven the Hunter,Male,22,3.7,Computer Science,Cybersecurity,Network Security,Information Security Analyst,Weak,Strong,Average
73,74,AIM,Male,22,3.7,Computer Science,Cybersecurity,Network Security,Information Security Analyst,Weak,Strong,Average
75,76,AIM,Female,22,3.7,Computer Science,Cybersecurity,Network Security,Information Security Analyst,Weak,Strong,Average
77,78,Agent Hill,Female,33,3.8,Computer Science,Cybersecurity,Network Security,Information Security Analyst,Weak,Strong,Average
119,120,Emily Wilson,Female,22,3.5,Computer Science,Cybersecurity,Network Security,Information Security Analyst,Average,Weak,Strong
129,130,Sophia Wilson,Female,21,3.7,Computer Science,Cybersecurity,Network Security,Information Security Analyst,Average,Weak,Strong
149,150,Sophia Johnson,Female,22,3.5,Computer Science,Cybersecurity,Network Security,Information Security Analyst,Average,Weak,Strong
169,170,Sophia Johnson,Female,22,3.5,Computer Science,Cybersecurity,Network Security,Information Security Analyst,Average,Weak,Strong

In [45]:
df[(df['Interested Domain']=='Cybersecurity') & (df['Projects']=='Network Security')].shape[0]

14

### 8. What is the correlation between age and GPA among students?

In [46]:
df['Age'].corr(df['GPA'])

0.20292469159722118

### 9. How many students have "Weak" skills in both Python and Java?

In [49]:
df[(df['Python']=='Weak') & (df['Java']=='Weak')]

Empty DataFrame
Columns: [Student ID, Name, Gender, Age, GPA, Major, Interested Domain, Projects, Future Career, Python, SQL, Java]
Index: []

In [59]:
df[(df['Python'] == 'Weak') & (df['Java'] == 'Weak')].shape[0]

0

### 10.What are the top 3 most common projects worked on by students?

In [70]:
top_pr = df['Projects'].value_counts(ascending=False)

In [71]:
top_pr.head(3)

Projects
Natural Language Processing    14
Network Security               14
E-commerce Website             13
Name: count, dtype: int64

### 11. What is the average GPA of students interested in Artificial Intelligence?

In [74]:
df[df['Interested Domain']=='Artificial Intelligence']['GPA'].mean()

3.6842105263157894

### 12. What is the percentage of students aiming to become Software Engineers?

In [78]:
df[df['Future Career']=='Software Engineer'].shape[0]

14

In [79]:
df[df['Future Career']=='Software Engineer'].shape[0]/df.shape[0]*100

7.777777777777778

### 13. What is the distribution of Python skills across different future careers?

In [89]:
df.groupby(["Future Career","Python"]).size().reset_index(name='Count')

                   Future Career   Python  Count
0                  AI Researcher   Strong      6
1               Bioinformatician     Weak      2
2            Blockchain Engineer     Weak      1
3      Cloud Solutions Architect   Strong     11
4      Cloud Solutions Architect     Weak      5
5       Computer Vision Engineer   Strong      1
6                   Data Analyst  Average      4
7                   Data Analyst   Strong      2
8        Data Privacy Specialist     Weak      1
9                 Data Scientist  Average      7
10                Data Scientist   Strong      1
11        Database Administrator  Average     10
12        Database Administrator     Weak      6
13               DevOps Engineer   Strong      1
14  Digital Forensics Specialist     Weak      1
15  Distributed Systems Engineer     Weak      1
16    Embedded Software Engineer     Weak      1
17                Ethical Hacker   Strong      1
18                Game Developer     Weak      4
19            Geospatial Analyst     Weak      1
20           Graphics Programmer     Weak      9
21      Healthcare IT Specialist     Weak      2
22  Information Security Analyst  Average      8
23  Information Security Analyst   Strong      3
24  Information Security Analyst     Weak      6
25                 IoT Developer     Weak      1
26     Machine Learning Engineer   Strong     13
27   Machine Learning Researcher   Strong      1
28          Mobile App Developer  Average     12
29          Mobile App Developer   Strong      1
30          Mobile App Developer     Weak      4
31                  NLP Engineer   Strong      1
32        NLP Research Scientist   Strong     11
33  Quantum Computing Researcher   Strong      1
34  Quantum Computing Researcher     Weak      1
35             Robotics Engineer   Strong      1
36                SEO Specialist     Weak      1
37              Security Analyst   Strong      1
38             Software Engineer  Average      5
39             Software Engineer   Strong      9
40                   UX Designer   Strong      1
41                   UX Designer     Weak      1
42                  VR Developer     Weak      1
43                 Web Developer   Strong      4
44                 Web Developer     Weak     15

### 14. What is the most popular interested domain for students with a GPA below 3.0?

In [92]:
df[(df['GPA']<3.0) & (df['Interested Domain'])]

Empty DataFrame
Columns: [Student ID, Name, Gender, Age, GPA, Major, Interested Domain, Projects, Future Career, Python, SQL, Java]
Index: []

In [95]:
df['GPA'].unique()

array([3.5, 3.2, 3.8, 3.7, 3.4, 3.9, 3.6, 3.3])

In [101]:
df[df['GPA']<3.0]

Empty DataFrame
Columns: [Student ID, Name, Gender, Age, GPA, Major, Interested Domain, Projects, Future Career, Python, SQL, Java]
Index: []

### 15.Who are the students with "Weak" SQL skills and want to pursue a career in Data Science?

In [105]:
df[(df['SQL']=='Weak') & (df['Interested Domain']=='Data Science')]

,Student ID,Name,Gender,Age,GPA,Major,Interested Domain,Projects,Future Career,Python,SQL,Java
142,143,Olivia Brown,Female,22,3.5,Computer Science,Data Science,Data Mining,Data Analyst,Average,Weak,Strong
162,163,Olivia Brown,Female,22,3.5,Computer Science,Data Science,Data Mining,Data Analyst,Average,Weak,Strong

### 16. What is the gender distribution of students with a GPA above 3.5?

In [110]:
df[df['GPA']>3.5]['Gender'].value_counts(normalize=True)*100

Gender
Male      58.119658
Female    41.880342
Name: proportion, dtype: float64

In [111]:
# (or)
high_gpa_stu = df[df['GPA']>3.5]

In [112]:
high_gpa_stu['Gender'].value_counts(normalize=True)*100

Gender
Male      58.119658
Female    41.880342
Name: proportion, dtype: float64

### 18. How many students aged 21 and above are interested in Web Development?

In [114]:
df[(df['Age']>21) & (df['Interested Domain']=='Web Development')]

,Student ID,Name,Gender,Age,GPA,Major,Interested Domain,Projects,Future Career,Python,SQL,Java
11,12,David Jones,Male,22,3.7,Computer Science,Web Development,Full-Stack Web App,Web Developer,Strong,Strong,Average
22,23,David Jones,Male,22,3.7,Computer Science,Web Development,Full-Stack Web App,Web Developer,Strong,Strong,Average
33,34,David Jones,Male,22,3.7,Computer Science,Web Development,Full-Stack Web App,Web Developer,Strong,Strong,Average
80,81,Agent Simmons,Female,31,3.5,Computer Science,Web Development,E-commerce Website,Web Developer,Weak,Strong,Strong
118,119,William Brown,Male,23,3.7,Computer Science,Web Development,E-commerce Website,Web Developer,Weak,Strong,Strong
125,126,Olivia Davis,Female,22,3.7,Computer Science,Web Development,Full-Stack Web App,Web Developer,Weak,Strong,Strong
135,136,Elijah Smith,Male,22,3.4,Computer Science,Web Development,E-commerce Website,Web Developer,Weak,Strong,Strong
148,149,Oliver Brown,Male,23,3.7,Computer Science,Web Development,E-commerce Website,Web Developer,Weak,Strong,Strong
155,156,Elijah Davis,Male,22,3.7,Computer Science,Web Development,Full-Stack Web App,Web Developer,Weak,Strong,Strong
163,164,John Smith,Male,23,3.6,Computer Science,Web Development,Front-End Development,Web Developer,Weak,Strong,Average
168,169,Oliver Brown,Male,23,3.7,Computer Science,Web Development,E-commerce Website,Web Developer,Weak,Strong,Strong
175,176,Elijah Davis,Male,22,3.7,Computer Science,Web Development,Full-Stack Web App,Web Developer,Weak,Strong,Strong

In [116]:
df[(df['Age']>21) & (df['Interested Domain']=='Web Development')].shape[0]

12

### 19. Which future career is most common among female students?

In [123]:
df[df['Gender']=="Female"]['Future Career'].value_counts().head(3)

Future Career
Mobile App Developer            9
Information Security Analyst    9
Database Administrator          8
Name: count, dtype: int64

In [127]:
# (or)

female_std = df[df['Gender']=="Female"]
female_std['Future Career'].mode()[0]

'Information Security Analyst'

### 20. What is the average GPA of students aiming to work in Machine Learning?

In [129]:
df[df['Interested Domain']=='Machine Learning']['GPA'].mean()

3.7461538461538457